@media (max-width:1199.99px) {
    .products__card {
        width: 350px;
    }

    .footer__content{
        padding: 0 50px;
    }
}

@media (max-width:991.99px) {
    .sales__content {
        padding: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .sales__content-link {
        width: 210px;
        text-align: center;
    }

    .header__nav-content {
        gap: 30px;
    }

    .nav__menu-list {
        gap: 20px;
    }

    .haeder__nav-list {
        gap: 20px;
    }

    .products__card-sale {
        padding: 10px 18px;
        font-size: 15px;
    }

    .products__card{
        width: 300px;
        gap: 10px;
        height: max-content;
        justify-content: center;
        padding: 20px 0;
    }
    
    .products__card-link {
        font-size: 15px;
    }

    .products__card-title {
        font-size: 15px;
    }

    .products__card-title {
        font-size: 15px;
    }

    .products__card-icon{
        padding: 7px;
    }
    
    .products__items{
        flex-direction: row;
        overflow-x: scroll;
        width: 100%;
        height: 100%;
        gap: 24px;
    }

    .news__items{
        flex-direction: column;
    }
}

@media (max-width:767.99px) {
    .sales {
        flex-direction: column;
        align-items: center;
    }

    .sales__content {
        width: 700px;
        height: 550px;
        gap: 70px;
    }

    .header__nav {
        position: relative;
    }

    .nav__menu-list {
        flex-direction: column;
        padding: 10px;
        position: absolute;
        top: -500px;
        right: 0;
        transition: .5s;
        border: 1px solid gainsboro;
        background: #e1e1e1;
        border-radius: 10px;
        z-index: 1;
    }

    .nav__menu-btn {
        display: flex;
        position: absolute;
        right: 220px;
    }

    .nav__menu:hover .nav__menu-list {
        top: 104%;
    }

    .nav__menu-list-link {
        color: #444444;
        text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    }

    .footer__content-item{
        width: 100%;
        height: 100%;
    }
}

@media (max-width:575.99px) {
    .sales__content {
        width: 550px;
    }

    .footer__content-item{
        width: 100%;
    }

    .footer__content-item:nth-child(2){
        display: none;
    }
}